\documentclass[11pt]{article}
\usepackage{graphicx,xcolor}
\definecolor{scoreA}{HTML}{4CAF50} % green
\definecolor{scoreF}{HTML}{F44336} % red

\begin{document}

% Intro section (rendered from intro.tex)
{% include "sections/intro.tex" %}

% Graphs section (rendered from graphs.tex)
{% include "sections/graphs.tex" %}

% Improvements section (rendered from improvements.tex)
{% include "sections/improvements.tex" %}

\end{document}
